/* CSS */
@import url(fira/fira_code.css);


* {
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
    font-size: 16px;
}

html,
body {
    margin: 0px;
    height: 100%;
    background: #DDD;
}

.input_line {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #333;
    background: #CCC;
    padding: 10px;
}

input.input_line:focus {
    outline-width: 0;
}

.results {
    white-space: pre;
    padding: 10px;
}
.main_wrapper {
    padding: 10px;
    width: 100%;
}